* {
    box-sizing: border-box;
    font-size: small;
    font-family: georgia;
    text-align: center;
}

.flex_box {
    display: flex;
}

.left_column {
    width: 30%;
}

.right_column {
    display: inline;
    width: 70%;
    justify-content: center;
}

.board_area {
    display: flex;
}

.board {
    padding: 2px;
    border: 1px dashed grey;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 4px;
}

.row {
    border: none;
    flex: 0 0 18px;
    display: flex;
}

.row:nth-child(3n) {
    background-color: rgb(245, 245, 255);
}

.cell {
    margin: 0;
    padding: 0;
    width: 18px;
    min-height: 18px;
    background-color: inherit;
    border: inherit;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.cell:nth-child(3n) {
    background-color: rgb(245, 245, 255);
}

.header {
    border: none;
}

.toprow {
    border-top: 1px solid grey;
}

.leftcol {
    border-left: 1px solid grey;
}

.potentialshot {
    background-color: orange !important;
}
