* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: small;
	font-family: verdana;
	text-transform: lowercase;
	text-align: center;
}

div {
	margin: 10px;
}

input {
	border: solid 1px grey;
}

button {
	background-color: paleturquoise;
	margin: 10px;
	padding: 10px;
	border-radius: 12px;
	border: 2px solid grey;
	color: grey;
	font-weight: bold;
}

button:hover {
	background-color: turquoise;
}

dt {
	text-decoration: underline;
	display: inline-block;
}

dd {
	display: inline-block;
	background-color: yellow;
}

.hidden {
	display: none;
}

.left_column {
	width: 30%;
	border-right: 1px solid black;
}

.right_column {
	width: 70%;
}

#settings {
	border-bottom: 1px solid black;
	padding: 0 0 10px 0;
}
